<div class="section bg-dark-1">
  <div class="header-text position-relative">
    <h2 class="text-resize text-white w-100">Work Experiance</h2>
    <p class="text-ontop text-white w-100 mt p-vw">
      Graduation & Experience
      <span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span>
    </p>
  </div>
 
  <div class="row m-t-1">
    <h2 class="skills text-white fw-600 m-tb-2">Graduation</h2>
    <div class="col-md-12">
      <mat-card class="bg-b text-white m-t-1 br-10" *ngFor="let c of colleges">
        <mat-card-content >
         <a href={{e.url}} target="_blank" >
            <img  style="width:30px;height: 30px;float: right;cursor: pointer;"
            class="rounded-circle image-size br-g"
            src="../../assets/info-icon.png"
          />
      </a>
          <div class="p-1 fw-600">
           
            <span class="date bg-g p-3-1 br-10">{{ c.date }}</span>
            <h3 class="course ts-20 tp-1">{{ c.course }}</h3>
            <p class="college text-green">{{ c.name }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
   
  </div>
  <div class="row m-t-1">
    <h2 class="skills text-white fw-600 m-tb-2">Experience</h2>
    
    <div class="col-md-12">
      <mat-card class="fw-500 bg-b text-white m-t-1 br-10" *ngFor="let e of experinces">
        <mat-card-content >
          <a href={{e.url}} target="_blank" >
            <img  style="width:30px;height: 30px;float: right;cursor: pointer;"
            class="rounded-circle image-size br-g"
            src="../../assets/info-icon.png"
          />
        </a>
          <div class="p-1 fw-600">
            <span class="date bg-g p-3-1 br-10">{{ e.date }}</span>
            <h3 class="course ts-20 tp-1">{{ e.designation }}</h3>
            <p class="college text-green">{{ e.company }}</p>
            <p class="course ts-20 tp-1">Projects Worked <span class="date bg-g p-3-1 br-10">{{e.workedOnProjectsCount}}</span></p>
            <ul *ngFor="let proj of e.projects">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{proj.name}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="card-text"><b>Project name: </b>{{proj.name}}</p>
                      <p class="card-text"><b>Technologies: : </b>{{proj.technologies}}</p>
                      
                      <p class="card-text"><b>Team Size: </b>{{proj.teamSize}}</p>
                      <p class="card-text"><b>Project Description: 
                        </b>{{proj.description}} </p>
                        <p class="card-text"><b>Roles & Responsibilities:  
                        </b> </p>
                        {{proj.roles}}
                    </div>
                  </div>
                </div>
               
                  
              
              </div>
              <!-- <li><a href='javascript:;'  (click)="openPopup(proj,e.company)">{{proj.name}}</a></li> -->
             
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <h2 class="skills text-white fw-600 m-tb-2">My Skills</h2>
  <div class="row">
    <div class="col-md-6 p-lr-2" *ngFor="let s of skills">
      <p class="fw-500 text-start mb-2 text-light">
        {{s.skill}} <span class="float-end">{{s.percentage}}%</span>
      </p>
      <div class="progress progress-sm mb-4 bg-b">
        <div class="progress-bar" role="progressbar" aria-valuenow="s.skill" aria-valuemin="0" aria-valuemax="100"
          [style.width.%]="s.percentage"></div>
      </div>
    </div>
  </div>
 
  <div  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><b>{{companyName}}</b></h1>
          <button type="button" class="btn-close" (click)="closePopup()"  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card lesson-border">
            <div class="card-body">
              <p class="card-text"><b>Project name: </b>{{projDetails.name}}</p>
              <p class="card-text"><b>Technologies: : </b>{{projDetails.technologies}}</p>
              
              <p class="card-text"><b>Team Size: </b>{{projDetails.teamSize}}</p>
              <p class="card-text"><b>Project Description: 
                </b>{{projDetails.description}} </p>
                <p class="card-text"><b>Roles & Responsibilities:  
                </b> </p>
                <pre>{{projDetails.roles}}</pre> 
             
              <!-- <button type="button" class="btn btn-lesson" >Lesson Details</button> -->
            </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  <div  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':infoDisplay}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
      <div class="modal-content">
       
        <div class="modal-body">
          <div class="card">
            <img src="img.jpg" alt="John" style="width:100%">
            <h1>John Doe</h1>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
          </div>
        </div>
       
      </div>
    </div>
  </div>
 
  
</div>

