.section{
  padding: 4.5rem 3.5rem;
}
.header-text{
  text-align: center;
}

.text-resize{
  opacity: 0.1;
  font-size: calc(1.3rem + 8.4vw)!important;
}

.text-ontop{
  font-size: 2.25rem;
  align-self: center!important;
}

.text-white {
  color: #fff;
}

.fw-600 {
  font-weight: 600;
}

.position-relative{
  position: relative;
}

.w-100{
  width: 100%;
}

.border-primary {
  border-color: #20c997!important;
}

.heading-separator-line {
  width: 80px;
}


.fl{
  float: left;
}


.icon{
  padding: 0.5rem 1rem;
  min-height: 55px;
  min-width: 55px;
  font-size: 2rem;
  color: #20c997;
}

.jc-c {
justify-content: center;
}

.bg-b {
  background-color: #212529;
}

.br-10{
  border-radius: 10px;
}

.i-about {
  width: -webkit-fill-available;
}

.p-1{
  padding: 0rem 2rem !important;
}

.ts-20 {
  font-size: 20px;
}

.tp-3 {
  margin-top: 3rem ;
}
