<div class="section bg-dark-2">
  <div class="header-text position-relative">
    <h2 class="text-resize text-white w-100">SERVICES</h2>
    <p class="text-ontop text-white w-100 mt p-vw">
      What I Do?
      <span
        class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"
      ></span>
    </p>
  </div>

  <div class="row tp-3">
    <div class="col-md-6 d-flex" *ngFor="let s of services">
      <div class="icon-d">
        <div class="icon d-flex jc-c bg-b br-10">
          <i class="{{s.icon}}"></i>
        </div>
      </div>
      <div class="i-about p-1">
        <h4 class="text-white ts-20">{{s.title}}</h4>
        <p class="text-white-50">{{s.information}}</p>
      </div>
    </div>
  </div>
</div>
