<div class="nav-bar">
  <img
    class="rounded-circle image-size br-g"
    src="../../assets/Pass Photo 1.jpg"
  />
    <ul class="navb">
      <li><a href="#section1" [ngClass]="{'active': menuActionService.currentSection === 'section1'}">Home</a></li>
      <li><a href="#section2" [ngClass]="{'active': menuActionService.currentSection === 'section2'}">About me</a></li>
      <li><a href="#section3" [ngClass]="{'active': menuActionService.currentSection === 'section3'}">What I Do</a></li>
      <li><a href="#section4" [ngClass]="{'active': menuActionService.currentSection === 'section4'}">Resume</a></li>
      <li><a href="#section5" [ngClass]="{'active': menuActionService.currentSection === 'section5'}">Portfolio</a></li>
      <li><a href="#section6" [ngClass]="{'active': menuActionService.currentSection === 'section6'}">Contact</a></li>

    </ul>
</div>
